body{
    background-color: #eee;
}
.header{
    text-align: center;
    margin: auto;
}
.cotent{
    text-align: center;
}
.info{
    text-align: center;
    height: 65px;
}
.imageTitle{
    font-weight: bold;
    float: left;
}
.imageDate{
    color: grey;
    float: right;
}
.post{
    background-color: white;
    width: 400px;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
}
.image{
    text-align: center;
}
.header{
    text-align: center;
}